= form_for @snippet do |f|
  -if @snippet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@snippet.errors.count, "error")} prohibited this snippet from being saved:"
      %ul
        - @snippet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    .input
      = f.text_field :name, class: 'xlarge span2', placeholder: 'a filename'
      %span.help-inline (optional)

  .field
    = f.label :filetype
    .input
      = f.select :filetype, filetype_suggesions, class: 'xxlarge'

  .field
    = f.label :description
    .input
      = f.text_field :description, class: 'xlarge span5', placeholder: 'description'
      %span.help-inline (optional)

  .field
    = f.label :body
    .input= f.text_area :body, class: 'xxlarge span12', rows: 30

  .field.mentions
    %label Mention
    .input
      %ul.inputs-list
        - User.alphabetical_order.each do |user|
          %li
            - id = "mentioned_ids_#{user.id}"
            %label(for=id)
              = check_box_tag "#{f.object_name}[mentioned_ids][]", user.id, @snippet.mentioned_ids.include?(user.id), id: id
              = image_tag(gravatar(user, 32), alt:user.nickname)
      .clearfix

  .actions
    = button_tag 'Clear', type: 'reset', class: 'btn'
    = f.submit 'Save', class: 'btn primary'

:javascript
  $(function(){
    var selector = '.mentions ul input[type=checkbox]';
    function highlightMention() {
      $(selector).parents('li').removeClass('checked');
      $(selector + ':checked').parents('li').addClass('checked');
      return true;
    };

    $(selector).change(highlightMention);
    highlightMention();
  });

