= form_for @snippet do |f|
  -if @snippet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@snippet.errors.count, "error")} prohibited this snippet from being saved:"
      %ul
        - @snippet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    .input
      = f.text_field :name, class: 'xlarge span3', placeholder: 'a filename'
      %span.help-inline (optional)

  .field
    = f.label :filetype
    .input
      = f.select :filetype_id, filetype_suggesions, class: 'xxlarge'
      %a{'data-controls-modal'=>'add_new_filetype', 'data-backdrop' => 'static'} Add new filetype

  .field
    = f.label :description
    .input
      = f.text_field :description, class: 'xlarge span7', placeholder: 'description'
      %span.help-inline (optional)

  .field
    = f.label :body
    .input= f.text_area :body, class: 'xxlarge span13', rows: 30

  .field.mentions
    %label Mention
    .input
      %ul.inputs-list
        - User.alphabetical_order.each do |user|
          %li
            - id = "mentioned_ids_#{user.id}"
            %label(for=id)
              = check_box_tag "#{f.object_name}[mentioned_ids][]", user.id, @snippet.mentioned_ids.include?(user.id), id: id
              = image_tag(gravatar(user, 32), alt:user.nickname, title: user.nickname)
      .clearfix

  .actions
    = button_tag 'Clear', type: 'reset', class: 'btn'
    = f.submit 'Save', class: 'btn primary'

#add_new_filetype.modal.hide
  .modal-header
    %a.close ×
    %h3 New filetype
  = form_for Filetype.new do |f|
    .modal-body
      .field
        = f.label :name
        .input
          = f.text_field :name, class: 'xlarge span3', placeholder: 'a filename', required: true
        .input
          %ul.inputs-list
            %li
              %label
                = f.check_box :renderable
                = f.label :renderable

    .modal-footer
      = f.submit nil, class: %w[btn primary]

:coffeescript
  selector = '.mentions ul input[type=checkbox]'
  highlightMention = ->
    $(selector).parents("li").removeClass "checked"
    $(selector + ":checked").parents("li").addClass "checked"
    true
  $(selector).change highlightMention
  highlightMention()
  $(".mentions img").tooltip()

