= twitter_bootstrap_form_for @snippet, html: {class: 'form-horizontal'} do |f|

  = f.fieldset do
    = f.text_field :name, class: 'xlarge span3', placeholder: 'a filename' do
      %span.help-inline (optional)

    = f.select :filetype_id, nil, filetype_suggesions, class: 'xxlarge' do
      %a{'data-controls-modal'=>'add_new_filetype', 'data-backdrop' => 'static'} Add new filetype

    = f.text_field :description, class: 'xlarge span7', placeholder: 'description' do
      %span.help-inline (optional)

    = f.text_area :body, class: 'input-xxlarge', rows: 30

    .field.mentions.span8.offset1
      %label Mention
      .input
        %ul.inputs-list.unstyled
          - User.alphabetical_order.each do |user|
            %li
              - id = "mentioned_ids_#{user.id}"
              %label(for=id)
                = check_box_tag "#{f.object_name}[mentioned_ids][]", user.id, @snippet.mentioned_ids.include?(user.id), id: id
                = image_tag(gravatar(user, 32), alt:user.nickname, title: user.nickname)
    .clearfix

  .actions.span8.offset1
    %input.btn.btn-warning{type:'reset'}
    = f.submit 'Save', class: 'btn btn-success'

#add_new_filetype.modal.hide
  .modal-header
    %a.close ×
    %h3 New filetype
  = form_for Filetype.new do |f|
    .modal-body
      .field
        = f.label :name
        .input
          = f.text_field :name, class: 'xlarge span3', placeholder: 'a filename', required: true
        .input
          %ul.inputs-list
            %li
              %label
                = f.check_box :renderable
                = f.label :renderable

    .modal-footer
      = f.submit nil, class: %w[btn primary]

:coffeescript
  selector = '.mentions ul input[type=checkbox]'
  highlightMention = ->
    $(selector).parents("li").removeClass "checked"
    $(selector + ":checked").parents("li").addClass "checked"
    true
  $(selector).change highlightMention
  highlightMention()
  $(".mentions img").tooltip()

