%h1 Listing snippets

%ul#snippets
  - @snippets.each do |snippet|
    %li[snippet]
      %h3
        = link_to "copipe: #{snippet.id}", snippet
        %span.timestamp= snippet.updated_at
      %code!= syntax(snippet, 3)

%br

= link_to 'New Snippet', new_snippet_path, class: 'btn primary'
