%h1
  Listing
  = title = snippets_parent_name
  = link_to 'Create new', new_snippet_path, class: 'btn primary'

.row
  .index.span12
    = with_paging(@snippets) do
      = render partial: 'list', locals:{snippets: @snippets}
  .dashboard.span4
    = render :partial => 'dashboard'

%br

= link_to 'Create new snippet', new_snippet_path, class: 'btn primary'

- content_for :header do
  = stylesheet_link_tag '/javascripts/google-code-prettify/styles/sunburst'
  = javascript_include_tag '/javascripts/google-code-prettify/prettify'
  :javascript
    $(function(){ prettyPrint() });

