%h1
  Listing snippets
  = link_to 'Create new', new_snippet_path, class: 'btn primary'

.row
  %ul#snippets.unstyled.span12
    - @snippets.each do |snippet|
      %li[snippet]
        = render(partial: 'attr_line', locals: {snippet: snippet})
        %pre.prettyprint
          %code= snippet.body.lines.first(3).join

%br

= link_to 'Create new snippet', new_snippet_path, class: 'btn primary'

- content_for :header do
  = stylesheet_link_tag '/javascripts/google-code-prettify/styles/sunburst'
  = javascript_include_tag '/javascripts/google-code-prettify/prettify'
  :javascript
    $(function(){ prettyPrint() });

