%h1.title= t 'message.index', resource_name: Snippet.model_name.human.pluralize

- if params[:q].present?
  %p=t 'message.index_q_matched', q: params[:q], count: @snippets.total_count, resource_name: Snippet.model_name.human.pluralize

.row
  .index.span9
    = with_paging(@snippets) do
      = render partial: 'list', locals:{snippets: @snippets}
  .dashboard.span3
    = render partial: 'dashboard'

= render :partial => 'shared/pretty_print'
