%p#notice= notice

%p
  %b Author:
  = @snippet.author
%p
  %b Title:
  = @snippet.title
%p
  %b Filetype:
  = @snippet.filetype

- ft = @snippet.filetype.presence || CodeRay::FileType.fetch(@snippet.title) rescue :text
%code!= CodeRay.scan(@snippet.body, ft.to_sym).div(line_numbers: :table)

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
