%div.row[@snippet]
  %h1.title= @snippet.name

  .span12
    = render(partial: 'attr_line', locals: {snippet: @snippet})
    %p.description
      = @snippet.description
      - if @snippet.author == current_user
        = link_to 'Edit', edit_snippet_path(@snippet), class:'btn'

    %pre.prettyprint.linenums
      - opt = @snippet.filetype? ? {class: "language-#{@snippet.filetype}"} : {}
      %code{opt}= @snippet.body

    .mentioned
      - [current_user].each do |user|
        = link_to_function(image_tag(gravatar(user, 32)), '#')

- content_for :header do
  = stylesheet_link_tag '/javascripts/google-code-prettify/styles/sunburst'
  = javascript_include_tag '/javascripts/google-code-prettify/prettify'
  :javascript
    $(function(){ prettyPrint() });
