%div[@snippet]
  %h1.title= @snippet.name

  = render(partial: 'attr_line', locals: {snippet: @snippet})
  %p.description
    = @snippet.description
    - if @snippet.author == current_user
      = link_to edit_snippet_path(@snippet), class:'btn' do
        %i.icon-edit
        Edit

  - if @snippet.filetype.try(:renderable)
    .renderable{class: @snippet.filetype.keyword}
      %ul.nav.nav-tabs
        %li.active= link_to 'Snippet', '#rendered', 'data-toggle' => 'tab'
        %li= link_to 'Source', '#source', 'data-toggle' => 'tab'
      .tab-content
        #rendered.tab-pane.active= sanitize(@snippet.rendered_body)
        #source.tab-pane
          %pre~ @snippet.body
  - else
    %pre.prettyprint.linenums.body
      - opt = @snippet.filetype ? {class: "language-#{@snippet.filetype.name}"} : {}
      %code{opt}= @snippet.body

    .mentioned
      %h2 mentioned to
      - @snippet.mentioneds.alphabetical_order.each do |user|
        = image_tag(gravatar(user, 32), alt:user.nickname, title: user.nickname)

- content_for :header do
  = stylesheet_link_tag '/javascripts/google-code-prettify/styles/sunburst'
  = javascript_include_tag '/javascripts/google-code-prettify/prettify'
  :javascript
    $(function(){
      $('.mentioned img').tooltip();
      prettyPrint();
    });
