%h1= @snippet.title

%p#notice= notice

%h2
  Author:
  = @snippet.author

%p
  %b Filetype:
  = @snippet.assumed_filetype '(none)'

%code!= syntax(@snippet)

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
