%p#notice= notice

%div.row[@snippet]
  %h1.title= @snippet.name

  .span12
    = render(partial: 'attr_line', locals: {snippet: @snippet})
    %p.description= @snippet.description

    %pre.prettyprint.linenums
      - opt = @snippet.filetype? ? {class: "language-#{@snippet.filetype}"} : {}
      %code{opt}= @snippet.body

- content_for :header do
  = stylesheet_link_tag '/javascripts/google-code-prettify/styles/sunburst'
  = javascript_include_tag '/javascripts/google-code-prettify/prettify'
  :javascript
    $(function(){ prettyPrint() });
