%p#notice= notice

%div[@snippet]
  %h1.title
    = @snippet.title

  %h2.attr-line.row
    .span2
      =link_to "copipe:#{@snippet.id}", @snippet, class: :permalink
    .span1.filetype
      %span.label= @snippet.assumed_filetype '(none)'
    .span2.offset7= user_mini_link @snippet.author
    .span1
      - if @snippet.author == current_user
        = link_to 'Edit', edit_snippet_path(@snippet), class:'btn'
    .span3
      %span.timestamp= l(@snippet.updated_at)

  %p.description

  // TODO valid HTML.
  %code><!= syntax(@snippet)

- # HACK
- if request.user_agent =~ /Firefox/
  :javascript
    $(function(){ $('td.line-numbers a').css('display', 'inline-block').css('margin-bottom', '0.3px') });
