%p#notice= notice

%div[@snippet]
  %h1.title
    = @snippet.title

  %h2{style:'height:32px'}
    %span.filetype.label= @snippet.assumed_filetype '(none)'
    = user_mini_link @snippet.author
    = link_to 'Edit', edit_snippet_path(@snippet), class:'btn success'
    = link_to 'Back', snippets_path, class:'btn'

  %code!= syntax(@snippet)

