%li[item]
  = render(partial: 'pictures/attr_line', locals: {picture: item})
  .row
    .span2
      = link_to item, title: item.name, class: 'picture' do
        = image_tag polymorphic_url([:raw, item]), alt: item.name
    .span7
      %dl
        %dt
          %span.label.label-info Markdown
        %dd
          %pre= "![#{item.name.presence || item.code}](#{polymorphic_url([:raw, item])})"
