= form_for @hook do |f|
  -if @hook.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hook.errors.count, "error")} prohibited this hook from being saved:"
      %ul
        - @hook.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    .input= f.text_field :name, class: 'xlarge'
  .field
    = f.label :backend
    .input= f.text_field :backend, class: 'xlarge'
  .field
    = f.label :config
    .input
      = f.text_area :config, class: ['xlarge', 'span10']
      %p.help-block YAML format.
  .field
    = f.label :active, 'Enable this hook'
    .input= f.check_box :active

  .clearfix

  .actions
    = button_tag 'Clear', type: 'reset', class: 'btn'
    = f.submit 'Save', class: 'btn primary'

