!!!
%html
  %head
    %title Copipedential
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :header
    :javascript
      $(".alert-message").alert()

  %body{style:'padding-top: 40px'}
    .container
      %section.navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to 'Copipedential', :root, class: 'brand', rel: 'home'

            %ul.nav
              - if signed_in?
                %li
                  = link_to :new_snippet do
                    %i.icon-pencil.icon-white
                    Paste!
                %li
                  = link_to '#drop', 'data-toggle' => 'modal' do
                    %i.icon-picture.icon-white
                    Image
                %li= link_to 'Hooks', :hooks
                %li
                  = form_tag :snippets, method: :get, class: 'pull-left navbar-search' do
                    = search_field_tag :q, params[:q], class: 'search-query', placeholder: 'Search'
                %li.you= user_mini_link(current_user)
                %li.sign_out= link_to 'Sign out', sign_out_url

      - {notice: :success, alert: :error, error: :error}.map {|k, v| [v, flash[k]] }.each do |style,msg|
        - next if msg.blank?
        .alert.fade.in{ 'class' => "alert-#{style}", 'data-alert' => 'success' }
          %a.close(href='#'){data:{dismiss: 'alert'}} &times;
          %p= msg

      = yield

      #drop.modal{style: 'display:none'}
        .modal-header
          %a.close{data:{dismiss:'modal'}} &times;
          %h3
            %i.icon-picture
            Drop image
        .modal-body
          #preview
            = form_tag '/images' do
              = hidden_field_tag 'raw_data'
              = submit_tag 'Drop below', disabled: true
            %img

    %footer.footer
      .container
        %p &copy; 2011-#{Time.now.year} Eiwa System Management Inc.

%style
  :sass
    #drop
      height: 600px
      width: 800px
      margin-left: -400px
      display: none
    #preview
      max-width: 800px
      max-height: 600px
      text-align: center
    img.eiwakun
      width: 400px
      opacity: 0.3

:coffeescript
  $ ->
    $.event.props.push('dataTransfer')

    cancel = (e) ->
      if(e.preventDefault)
        e.preventDefault()
      false

    dropped = (e) ->
      file = e.dataTransfer.files[0]

      (reader = new FileReader()).onload = ->
        result = reader.result
        $('#preview form input[name=raw_data]').val(result)
        $('#preview form input[type=submit]').val('Send this!').attr({disabled: false}).addClass('btn btn-success')
        $('#preview img').attr('src', result).removeClass('eiwakun')

      reader.readAsDataURL(file)

    previewInit = (e) ->
      $('#preview form input[name=raw_data]').val(null)
      $('#preview form input[type=submit]').val('Drop below').attr({disabled: true}).removeClass('btn btn-success')
      $('#preview img').attr('src', '/assets/eiwakun.png').addClass('eiwakun')

    $('#drop').on 'hidden', previewInit

    $('#drop').bind 'dragover', cancel
    $('#drop').bind 'dragenter', cancel
    $('#drop').bind 'drop', dropped

    previewInit()

