!!!
%html
  %head
    %title Copipedential
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :header

  %body{style:'padding-top: 40px'}
    .container
      %section#navigation
        .topbar-wrapper
          .topbar
            .topbar-inner
              .container
                %h3= link_to 'Copipedential', :root

                %ul.nav
                  %li.organization= link_to organization, "https://github.com/#{organization}"
                  - if signed_in?
                    %li= link_to 'New copipe', :new_snippet
                    %li.you= user_mini_link(current_user)
                    %li.sign_out= link_to 'Sign out', sign_out_url

      = yield

    %footer.footer
      .container
        %p footer content Wow!!

