!!!
%html
  %head
    %title Copipedential
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :header
    :javascript
      $(".alert-message").alert()

  %body{style:'padding-top: 40px'}
    .container
      %section.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %h3= link_to 'Copipedential', :root, class: 'brand'

            %ul.nav
              - if signed_in?
                %li= link_to 'Copipe!', :new_snippet
                %li= link_to 'Hooks', :hooks
                %li
                  = form_tag :snippets, method: :get, class: 'pull-left navbar-search' do
                    = search_field_tag :q, '', class: 'search-query', placeholder: 'Search'
                %li.you= user_mini_link(current_user)
                %li.sign_out= link_to 'Sign out', sign_out_url

        - {notice: :success, alert: :warning, error: :error}.map {|k, v| [v, flash[k]] }.each do |style,msg|
          - next if msg.blank?
          .alert-message.fade.in{ 'class' => style, 'data-alert' => 'success' }
            %a.close(href='#') &#215;
            %p= msg

      = yield

    %footer.footer
      .container
        %p &copy; 2011 Eiwa System Management Inc.
